*{
	margin:0px;
	padding: 0px;
}
body
{
	background-image: url("../Imagens/fundo9.jpg");
	background-position: 50%;
	font-family: arial;
	background-size: 100%;
}

h1#h
{
	font-family: Arial;
	font-size: 34px;
	color:white;
	text-align: center;
}
input{
	display: block;
	height: 40px;
	width: 360px;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 16pt;
	border-color: white;
	background-color: rgba(255,255,255,0.01);
	color:white;
	padding-left: 30px;
}

div#corpo-form{
	display: block;
	float:left;
	width: 600px;
	height: 900px;
	padding-left: 30px;
}

input#L[type=button]{
	background-color: darkred;
	border:none;
}



p{
	color: white;
	font-size: 25px;
	padding-left: 15px;
}

a{
	color: white;
	font-size: 15px;
	padding-left: 15px;
}





input[type=button]{
	background-color: darkred;
	border:none;
}

::-webkit-input-placeholder { /* Webkit Navegador*/
	color: #fff;
}

:-moz-placeholder { /*Mozila Firefox */
	color: #fff;
}

::-moz-placeholder { /*Mozila Firefox */
	color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer */
	color: #fff;
}


