*{
	margin:0px;
	padding: 0px;
}
body
{
	background-image: url("Imagens/fundo2.png");
	background-position: 50%;
}

h1
{
	font-family: Arial;
	font-size: 48px;
}
a
{
	color:black;
}

input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding:10px 20px;
}

div#corpo-form{
	width: 420px;
	margin: 150px auto 0px auto;
}
